// content.scss

.container{
	width:100%;
	max-width:1200px;
	margin:2em auto;
	padding:0 1em;
	@include breakpoint(tablet){
		margin:4em auto;

	}
	&.main{
		@include breakpoint(large){
			min-height:calc(100vh - 40em);
		}
	}
	.single{
		margin:1em 0;
		.thumbnail{
			display:inline-block;
			width:100%;
			vertical-align: middle;
			padding:0 0.5em 0 0;
			@include breakpoint(tablet){
				width:20%;
			}
			img{
				width:100%;
				max-width:13em;
			}
		}
		.description{
			vertical-align: middle;
			display:inline-block;
			width:100%;
			@include breakpoint(tablet){
				width:70%;
			}
			p{
				text-align:left;
				strong{
					a{
						color:$mainColor;
						text-decoration:none;
					}
				}
				a{
					color:$secondColor;
					//font-weight:normal;

					&:hover{
						color:darken($secondColor, 15);
					}
					svg{
						height:1.4em;
					}
					&.email{
						color:$mainColor;
						//font-weight:900;
						//font-size:0.8em;
						&:hover{
							color:darken($mainColor, 10);
						}
					}
				}
			}
			strong{
				color:$mainColor;
				text-transform: uppercase;
				font-weight:900;
			}
	
		}
	}
	.col{
		display:inline-block;
		width:100%;
		vertical-align: top;
		@include breakpoint(tablet){
			width:30%;
			max-width:21em;
			margin:2em 1em;
		}
	}
}