// footer.scss

.footer{
	width:100%;
	overflow:hidden;
	background:lighten($secondColor, 20);
	@include breakpoint(tablet){
		padding:2em 0;

		
	}
	.container{
		margin:1em auto 0 auto;
		text-align:center;
		@include breakpoint(tablet){
			text-align:left;
		}
		svg{
			width:9em;
			height:4em;
			display:inline-block;
			@include breakpoint(tablet){
				margin:0 2em 0 0;
				width:10em;
				height:4em;
				text-align:center ;
			}
		}
		p{
			display:inline-block;
			text-transform: uppercase;
			color:darken($secondColor, 20);
			
		}
		.contact{
			
			@include breakpoint(tablet){
				float:right;
				margin-top:2em;
			}
			a{
				color:$mainColor;
				text-decoration:none;
				font-weight:900;
				display:block;

				@include breakpoint(tablet){
					display:inline-block;
				}
				&:hover{
					text-decoration:underline;
					color:lighten($mainColor, 10);
					&:after{
						color:darken($secondColor, 20);
						text-decoration:none;
					}
				}
				&:last-child{
					&:after{
						content:'';
					}
				}
				&:after{
					
					@include breakpoint(tablet){
						content:' |';
						color:darken($secondColor, 20);



					}
				}
			}
		}
	}
	
}