// header.scss
.header{
	width:100%;
	.content{
		width:100%;
		max-width:1200px;
		margin:0 auto;
		padding:0 1em;
		svg{
			width:8em;
			height:3em;
			display:inline-block;
			vertical-align:middle;
			margin:0.5em auto;
			@include breakpoint(tablet){
				width:12em;
				height:4em;
				margin:1em auto;
			}
			@include breakpoint(medium){
				margin-right:2em;

			}

		}
		h1{
			
			vertical-align:middle;
			font-size:0.75em;
			.black{
				color:#000;
			}
			.green{
				color:$mainColor;
			}
			@include breakpoint(tablet){
				display:inline-block;
				font-size:1.5em;
			}
			@include breakpoint(medium){
				font-size:1.8 em;
				letter-spacing:3px;
			}
		}
		
	}
}
.hero{
	background-size:cover;
	background-position:center center; 
	background-image: url('../img/hero_page05.jpg');
	overflow:hidden; 
	@include breakpoint(tablet){
		height:11em;
		position:relative;
	}
	.social{
		position:absolute;
		right:0;
		top:0;
		@include breakpoint(tablet){
			//width:2em;
			background:$mainColor;
		}
		ul{
			list-style-type:none;
			padding:0;
			margin:0;
			li{
				display:inline-block;
			
				@include breakpoint(tablet){
					//display:block;
				}
				&.user{
					display:block;
					text-transform:uppercase;
					@include breakpoint(tablet){
						display:inline-block;

					}
					a{
						text-decoration:none;
						color:#fff;
						background:$mainColor;
						text-align:center;
						@include breakpoint(tablet){
							

						}
						&:hover{
							color:#fff;
							@include breakpoint(tablet){
								

							}
						}
						svg{
							fill:#fff;
						}
					}

				}
				a{
					padding:0.25em 0.5em;
					display:block;
					@include breakpoint(tablet){
						padding:0.5em 0.75em;
					}
					&:hover{
							background:darken($mainColor, 6);
							svg{
								fill:#fff;
							}
						}
					svg{
						width:1em;
						height:1em;
						fill:$mainColor;
						@include breakpoint(tablet){
							fill:#fff;
						}

						
			
					}
				}
					
			}
			
		}
		
	}
	.member-btn{
		background:rgba(0,0,0,0.5);
		text-transform: uppercase;
		margin-top:5em;
		padding:0.5em 1em;
		display:flex;
		align-item:center;
		justify-content: space-between;
		align-content:center;
		width:100%;
		@include breakpoint(small){
			margin-top:3em;
		}
		@include breakpoint(tablet){
			position:absolute;
			text-align: left;
			bottom:0;
			right:0;
			margin-top:0;
			//padding:1em;
			max-width:25em;
		}
		@include breakpoint(medium){
			justify-content: flex-start;
		}
		@include breakpoint(large){
			
			max-width:31em;
		}
		h2{
			color:#fff;
			display:inline-block;
			width:57%;
			min-width:10em;
			vertical-align: middle;
			text-align: left;
			font-size:0.9em;
			line-height:1.2;
			font-weight:normal;
			@include breakpoint(tablet){
				width:16em;
			}
		}
		a{
			background:$mainColor;
			color:#fff;
			text-decoration: none;
			font-weight:300;
			margin:0 0 0 1em;
			padding:0.5em;
			align-self:center;
			&:hover{
				background:darken($mainColor, 6);
			}
		}
	}
}

input[type="checkbox"].mobile-show{
	position:absolute;
	left:-9999em;
	& + label{
		display:block;
		background:$secondColor;
		color:#fff;
		width:100%;
		color:#fff;
		padding:0.5em 0;
		text-align:center;
		font-size:1em;
		text-transform:uppercase;
		font-weight:900;
		@include breakpoint(tablet){
			display:none;
		}
	}
	&:checked{
		& ~ nav{
			display:block;
		}
		& ~ label{
			background:darken($secondColor, 10);
		}
	}
}
nav{
	display:none;
	background:$secondColor;
	width:100%;
	overflow:hidden;
	margin:0;
	@include breakpoint(tablet){
		display:block;
		margin:0.5em 0;
	}
	
	ul{
		margin:0 auto;
		width:100%;
		max-width:1300px;
		list-style-type:none;
		padding:0;
		text-align:center;
		li{
			display:block;
			@include breakpoint(tablet){
				display:inline-block;
			}
			&.current, &.parent{
				a{
					background:darken($secondColor, 6);

				}
				
			}
			a{
				color:#fff;
				text-decoration: none;
				text-transform: uppercase;
				padding:0.5em;
				display:block;
				font-weight:700;
				&:hover{
					background:darken($secondColor, 10);
					color:#fff;
					text-decoration:none;
				}
				@include breakpoint(medium){
					padding:1em 0.5em;
				}
				@include breakpoint(large){
					padding:1em;
				}
				
			}

			ul{
				display:none;
				list-style-image:url('../img/icon.png');
				z-index:50;
				background:#fff;
				text-align:left;
				@include breakpoint(tablet){
					padding-left:1em;
				}

			}
			&:hover, &:focus{
				ul{
					display:block;
					width:auto;
					padding:0 1em;
					overflow:hidden;
					@include breakpoint(tablet){
						position:absolute;
						box-shadow:0px 4px 5px #9e9e9e4d;
					}
					@include breakpoint(large){
						padding:0;
						box-shadow:none;
					}
					li{
						display:block;
						@include breakpoint(large){
							display:inline-block;
						}
						&.current{
							background:#fff;
							a{
								color:$mainColor;
								&:hover{
									color:darken($mainColor, 10);
								}
							}
						}
						a{
							text-decoration: none;
							font-weight:bold;
							color:$secondColor;
							text-transform: uppercase;
							padding:0.7em 2.5em 0.7em 2em;
							background-color:#fff;
							background-image:url('../img/icon.png');
							background-repeat:no-repeat;
							background-position:center left;
							background-size:1.5em;
							&:before{
								
							}
							&:hover{
								color:darken($secondColor, 20);
								background-color:#fff;
								svg{
									fill:darken($mainColor, 10);
								}
							}
						}
					}
				}
				& > a{
					background:darken($secondColor, 10);
				}
			}
		}
	}
	
}
