// buttons

a.more-info{
	text-decoration: none;
	font-weight:bold;
	color:$secondColor;
	margin:1em 0;
	text-transform: uppercase;
	&:hover{
		color:darken($secondColor, 10);
		svg{
			fill:darken($mainColor, 10);
		}
	}
	svg{
		fill:$mainColor;
		width:2em;
		height:1em;
		vertical-align: middle;
		padding-right:0.5em;
	}	
	
		
}
.green-btn{
	background:$mainColor;
	padding:0.5em;
	margin:1em auto;
	color:#fff;
	font-weight:300;
	display:inline-block;
	text-decoration:none;
	@include breakpoint(tablet){
		
	}
	&:hover{
		background:darken($mainColor, 15);
		text-decoration:none;
		color:#fff;
	}
}
.main-link{
	margin:3em 0 3em 0;
	text-align:left;
	font-size:1.2em;
	display:block;
	color:$secondColor;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:900;
	@include breakpoint(tablet){
		margin-left:20%;
	}
	&:hover{
		text-decoration:none;
		svg{
			fill:darken($mainColor, 10);
		}
	}
	svg{
		fill:$mainColor;
		width: 2em;
    	height: 1em;
    	vertical-align: middle;
    	padding-right: 0.5em;
	}
}