//_comment.scss

.comment-wrapper{
	margin-top:7em;
	@include breakpoint(tablet){
		margin-left:20%;

	}
	ul.CommentList{
		list-style-type:none;
		li.CommentListItem{
			background:lighten($secondColor, 35);
			p.CommentHeader{
				background:$mainColor;
				color:#fff;
				padding:0.5em;
				strong{
					color:#fff;
				}
			}
			.CommentText{
				padding:0 0.5em;
				overflow:hidden;
			}
			.CommentFooter{
				padding:0 0.5em;
				text-align:right;
				background:lighten($secondColor, 10);
				a{
					color:#fff;
					&:hover{
						color:$mainColor;
					}
				}
			}
		}
	}
	p{
		margin-left:0 !important;
	}
	#CommentForm{
		margin-top:7em;
	}
	form.CommentForm{
		width:100%;
		max-width:initial;
		input[type="text"], input[type="password"], input[type="email"]{
			font-size:1em;
		}
		label{
			
			
			
		}
		textarea{
			display: block;
			width: 100%;
			border: 0;
			padding:0.25em;
		}
		.CommentFormEmail{
			display:none;
		}
	}
}