// login form
.form-header{
	background:lighten($secondColor, 30);
	margin:2em auto 0 auto;
	padding:1em 1em 0em 1em;
	overflow:hidden;
	max-width:28em;
	@include breakpoint(tablet){
		
		padding:1.5em 2em 0 2em;
	}
	h2{
		color:$secondColor;
		font-weight:200;
		font-size:1.1em;
		text-align:left;
		@include breakpoint(small){
			font-size:0.8em;
		}
		svg{
			height:2em;
			width:7em;
		}
	}

}
.forgot{
	form{
		max-width:100%;
		label{
			font-weight:bold;
		}
	}
}
form{
	background:lighten($secondColor, 30);
	padding:0 1em 1em 1em;
	width:100%;
	margin:0 auto 2em auto;
	text-align:left;
	overflow:hidden;
	max-width:28em;
	@include breakpoint(tablet){
		
		padding:0 2em 1.5em 2em;
	}
	.error{
		color:#ba1111;
	}
	.success{
		color:rgb(0, 186, 0);
		font-weight:bold;
	}
	h2{
		color:$secondColor;
		font-weight:200;
		font-size:1.1em;
		@include breakpoint(small){
			font-size:0.8em;
		}
		svg{
			height:2em;
			width:7em;
		}
		&.error{
			color:#ba1111;
		}

	}
	ul li, p, label{
		font-size:1em;
		color: #939598;
    	font-weight: 300;
    	line-height: 1.5em;
		.InputfieldHeaderHidden{
			display:none;
		}
		a{
			color:$mainColor;
		}
		p.ui-state-error{
			span{
				color:red;
			}
		}
		span{
			
			&.ui-button-text{
				color:#fff;
			}
		}
	}
	ul{
		list-style-type:none;
		padding:0;
		li{
			margin:1em 0;
			div{

			}
		}
	}
	input{
		width:100%;
		&[type='text'], &[type='password'], &[type='email']{
			padding:0.2em;
			font-size:1.5em;
			border:0;
		}
		&[type='submit']{
			//width:7em;
			width:100%;
			padding:0.5em;
			background:$mainColor;
			color:#fff;
			text-transform: uppercase;
			box-shadow:0;
			border:0;
			@include breakpoint(tablet){
				float:right;
				display:inline-block;
				width:auto;
			}
			&:hover{
				background:darken($mainColor,10);
			}
			
		}
		&[type='checkbox']{
			display:inline-block;
			width:auto;
			vertical-align: top;
			margin:0.25em 0.5em 0 0;
			& + span{
				padding-top:0.1em;
				vertical-align: middle;
			}
		}
	}
	select{
		padding:0.2em;
		font-size:1.5em;
		border:0;
		width:100%;
		background:#fff;
		option{
			color:$mainColor;
			font-size:0.9em;
			&:focus{
				background:$mainColor;
				color:#fff;
			}
		}
	}
	button{
		width:100%;
		display:block;
		padding:0.5em;
		background:$mainColor;
		color:#fff;
		text-transform: uppercase;
		box-shadow:0;
		border:0;
		
		@include breakpoint(tablet){
			float:right;
			display:inline-block;
			width:auto;
		}
		&:hover{
			background:darken($mainColor,10);
		}
	}
	label{
		text-transform: uppercase;
	}
}

.profile-wrapper{
	background:lighten($secondColor, 30);
	width:100%;
	padding:0 1em 1em 1em;
	max-width:28em;
	overflow:hidden;
	margin:0 auto;
	text-align:left;
	@include breakpoint(tablet){
		padding:0 2em 1.5em 2em;
	}
	form{
		border:1px solid $mainColor;

	}
}