.tiles{
	margin:2em auto;
	text-align:left;
	display:flex;
	align-items:flex-start;
	justify-content:flex-start;
	flex-wrap:wrap;
	@include breakpoint(tablet){
		margin:4em auto 1em auto; 
	}
	div{
		display:inline-block;
		vertical-align: top;
		width:100%;
		position:relative;
		margin:0 0 1em 0;
		@include breakpoint(tablet){
			margin:0 1em 0 0;
			flex-basis:20em;
		}
		&:hover{
			
			h3{

			}
			.preview{
				box-shadow:0px 0px 1px #939598;
				transition:0.25s;
			}
		}
		a{
			text-decoration:none;
		}
		h3{
			color:$secondColor;
			font-size:1em;
			background:rgba(255,255,255,0.8);
			position:absolute;
			bottom:1em;
			width:100%;
			margin:0;
			color:darken($secondColor, 20);
			padding:0.25em;
			@include breakpoint(tablet){
				background:0;
				padding:0;
				position:static;
				width:auto;
				margin:1em 0;
				color:$secondColor;
			}
		}
		.preview{
			height:10em;
			width:100%;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center center;
			box-shadow:0px 0px 10px #939598;
			transition:0.25s;
			@include breakpoint(tablet){
				height:14em;
			}
		}
	}
}