//this was originally for a contact page but is now for the IPDA members page and Board members page sorry if that is confusing
.contact{
	.hero{
		background-image:url('../img/hero_page05.jpg');
	}
	.container{
		text-align:center;
		.single{
			.description p{
				text-align:center;
				vertical-align: middle;
				@include breakpoint(tablet){
					text-align:left;
				}
			}
			.thumbnail{
				width:45%;
				max-width:125px;
				@include breakpoint(tablet){
					width:23%;
				}
				@include breakpoint(large){
					width:26%;
				}
			}
		}
		.profile{

			@include breakpoint(tablet){
				width:30%;
				min-width:20em;
				margin:1em 0 3em 0;
				display:inline-block;
				vertical-align: middle;
				.description{
					width:30%;
					min-width:15em;
				}
			}
			&.membership.reg{
				img{

				}
			}
			svg{
				width:1.5em;
				height:1em;
				fill:$mainColor;
				margin:1.2em 0.5em 0 0;
				display:none;
				@include breakpoint(tablet){
					display:inline-block;
					vertical-align: top;
					margin-left:10%;

				}
				@include breakpoint(large){
					margin-left:16%;
				}
			}
			&.main{
				@include breakpoint(tablet){
					width:55%;
					min-width:38em;
					margin:3em auto;
					display:block;
					.thumbnail{
						width:20%;
					}
					.description{
						vertical-align:middle;
					}
				}
			}	
		}
		.membership{
			vertical-align:top;
			padding:1em;
			.whitespace{
				height:20px;
				display:block;
				@include breakpoint(tablet){
					height:164px;
				}
			}
			img{
				width:auto;
				max-width:235px;
				display:block;
				margin:0 auto;
				padding:0 1em;
			}
			.description{
				width:100%;
				text-align:left;
				svg{
					margin:0;
					vertical-align: middle;
				}
			}
			a{
				text-decoration:none;
				text-transform:uppercase;
			}
		}
		.col-wrapper{
			dislay:block;
			.col{
				h2{
					color:$mainColor;
					font-size:1em;
				}
				ul{
					list-style-type:none;
					text-align:left;
					padding:0;
					li{
						color:$secondColor;
						text-transform: uppercase;
						padding:0.7em 0 0.7em 2em;
						background-color:#fff;
						background-image:url('../img/icon.png');
						background-repeat:no-repeat;
						background-position:center left;
						background-size:1.5em;
						a{
							color:$secondColor;
							font-weight:100;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		
	}
	.footer{
		.container{
			
			@include breakpoint(tablet){
				text-align:left;
			}
		}
	}

}
.founding-container{
	border-bottom:1px solid $mainColor;
	//padding:1em;
	margin:1em auto;
	.profile.membership{
		max-width:48%;
		width:100%;
		img{
			max-width:300px;

		}
	}
}