//forum.scss

.forum{
	p, ul li, ol li{
		color:darken($secondColor, 20);
	}
	h4{
		font-size:1em;
		color:$mainColor;
		font-family:'Roboto', arial, sans-serif;
	}
	.container.main{
		min-height:calc(100vh - 39em);
		.P{
			color:darken($secondColor, 20);
			font-weight:300;
			font-family:'Roboto', arial, sans-serif;
		}
		.content{
			display: inline-block;
			vertical-align:top;
			width:100%;
			@include breakpoint(tablet){
				width:75%;
				padding-right:2em;
			}
			.Title{
				a{
					color:$mainColor;
					&:hover{
						text-decoration:underline;
					}
				}
			}
			ul.FilterMenu{
				border-bottom:1px solid $mainColor;
				margin-top:2em;
				li{
					display:inline-block;
					a{
						display:block;
						padding:0.25em 0.5em;
						border-top:1px solid $mainColor;
						border-left:1px solid $mainColor;
						border-right:1px solid $mainColor;
						
						&:hover{
							background:lighten($secondColor, 30);
						}
					}
					&.Active{
						a{
							border-bottom:1px solid #fff;
							background:#fff;
							margin-bottom:-2px;
						}
					}
				}
			}
			.Breadcrumbs{
				a{
					&:hover{
						color:$mainColor;
						text-decoration:underline;
					}
				}
			}
		}
		.sidebar{
			display:inline-block;
			vertical-align:top;
			width:100%;
			margin-top:1em;
			border-top:1px solid $mainColor;
			@include breakpoint(tablet){
				width:23%;
				margin-top:0;
				border-top:0;
			}
			ul.FilterMenu{
				li{
					&.Active{
						a{
							background:transparentize($secondColor,0.8);
							display:block;
							
						}
					}
					a{
						padding:0.25em 0.5em;
						&:hover{
							color:$mainColor;
						}
					}
				}
			}
			.Button{
				display:block;
				&.Primary{

				}
			}
			.JsConnect-Connect{
				margin:1em 0;
			}
			.GuestBox{
				.Button{
					display:none;
				}
			}
			
		}
		.Discussion .PageTitle h1{
			color:$mainColor;
			font-size:1.5em;
			font-weight:900;
			@include breakpoint(medium){
				font-size:1.75em;
			}
		}
		.DiscussionForm{
			.PostOptions{
				li{
					display:block;
					label{
						text-transform: none;
					}
				}
			}
		}
		h2{
			font-size:1.25em;
			margin-top:2em;
		}
		a.Username{
			color:$mainColor;
			text-transform:uppercase;
		}
		ul.FilterMenu{
			li{
				&.Active{
					a{
						color:$mainColor;
					}
					
				}
			}
		}
		.CategoryList{
			a.Title{
				font-size:16px;
				color:$mainColor;
			}
		}
		.Count{
			margin-left:0.5em;
		}
		.Button{
			border-radius:0;
			float:none;
			display:inline-block;
			padding:0.5em;
			font-size:1em;
		}
		.DiscussionHeader{
			background:transparentize($secondColor,0.8);
		}
		.Message{
			h1{
				font-size:1.5em;
				color:$mainColor;
				font-weight:bold;
				text-transform:none;
			}
			h2{
				font-weight:bold;
				text-transform: none;
			}
			p{
				strong{
					text-transform:none;
				}
			}
			
			a{
				color:$mainColor;
				text-decoration:underline;
				&:hover{
					text-decoration:none;
				}
			}
		}
		form{
			margin:0 auto;
			padding:0;
			background:none;
			max-width:initial;
			overflow:visible;
			input[type="text"]{
				color:$secondColor;
				border:1px solid rgba(0, 0, 0, 0.4);
			}
			input[type="radio"]{
				width:auto;
			}
			textarea.TextBox{
				min-height:150px;
			}
		}
		.Button.Primary{
			background:$mainColor;
			color:#fff;
			border:0;
			&:hover{
				background:darken($mainColor, 10);
				color:#fff;			
			}
		}
		a.FlagContent{
			color:#be1a1a;
			&:hover{
				color:red;
			}
		}
	}
}