// homepage styles
a.special-event{
	display:none;
}
.home{
	.hero{

		background-image:url('../img/hero_homepage_02.jpg');
		background-size: cover;
		background-repeat:no-repeat;
		background-position:top right;
		@include breakpoint(tablet){
			background-position:center center;
			height:20em;
		}
		@include breakpoint(medium){
			//height:25em;
			height:29em;
		}
	
		a.special-event{
			display:block;
			width:100%;
			height:17em;
			@include breakpoint(tablet){
				position:absolute;
				height:100%;
			}

			img{
				width:100%;
			}
		}
	}
	.member-btn{
		margin-top:13em;
		text-transform:uppercase;

		@include breakpoint(small){
			margin-top:6em;
		}
	}
	.green-btn{
		margin:2em auto;
		text-transform:uppercase;
		text-decoration:none;
		@include breakpoint(tablet){
			font-size:1.2em;
		}
	}
	.container{
		padding:1em;
		text-align:center;
		@include breakpoint(tablet){
			
		}
		p{
			text-transform: uppercase;
			font-size:1em;
		}
		.col{
			h2{
				//font-size:1em;
				color:$mainColor;
			}
			svg{
				width:6em;
				height:6em;
			}
			p{
				text-transform: initial;
				strong{
					color:$secondColor;

				}
				a{
					background:$mainColor;
					display:block;
					color:#fff;
					padding:0.5em;
					font-weight:300;
					width:100%;
					max-width:17em;
					margin:0.5em auto;
					
					&:hover{
						background:darken($mainColor, 6);
						text-decoration:none;
					}
				}
			}
		}
	}
	.footer{
		.container{
			text-align:center;
			@include breakpoint(tablet){
				text-align:left;
			}
		}
	}
	
}