// ipd-resources, events
.resource, .resource-single, .member-gallery, .member-asset{
	.hero{
		background-image:url('../img/hero_page02.jpg');
	}
	.container{
		h2{
			
			@include breakpoint(tablet){
				margin-left:20%;
			}
		}
		p{
			//text-align:center;
			@include breakpoint(tablet){
				margin-left:20%;
			}
		}
		.main-link{
			margin-left:0;
		}
	}
}

.resource, .resource-single, .events, .event-single, .member-gallery, .member-asset{
	
	.container{
		

		h3{
			margin-top:5em; 
		}
		
		ul.sub-nav{
			list-style-type: none;
			display:block;
			padding:0;
			@include breakpoint(tablet){
				margin:1em 0 3em 20%;
				
				display:none;
			}
			li{
				display:inline-block;
				margin:0.5em 1em;
				
			}
		}
		
		.single{
			margin:2em 0;
			position:relative;
			&.member-only{
				.thumbnail{
					img.member-label{
						display:block;
					}
				}
			}
			.thumbnail{
				display:none;
				width:20%;
				vertical-align: top;
				padding:0 0.5em 0 0;
				position:relative;
				@include breakpoint(tablet){
					width:20%;
					display:inline-block;
				}
				img{
					width:100%;
					max-width:13em;
					min-width:9em;
					box-shadow: 0px 0px 8px #939598;
					@include breakpoint(small){
						min-width:4em;
					}
				}
				img.member-label{
					display:none;
					position:absolute;
					top:0;
					left:0;
					width:auto;
					max-width:100%;
					box-shadow:none;
				}
			}
			.description{
				vertical-align: top;
				display:inline-block;
				width:100%;
				@include breakpoint(tablet){
					width:70%;
				}
				p{
					text-align:left;
					margin-top:0;
					margin-left:0;
				}
				strong{
					color:$mainColor;
					text-transform: uppercase;
					font-weight:900;
				}

			}
		}
	}
	.footer{
		.container{
			p{
				@include breakpoint(tablet){
					margin-left:0;
				}
			
			}
		}
	}
	
}
.events, .event-single{
	.hero{
		background-image:url('../img/hero_page03.jpg');
	}
	.container{
		h2{
			margin-top:3em;
		}
		.single{
			margin-bottom:5em;
			.thumbnail{
				img{
					box-shadow:none;
				}
			}
		}

	}
}
