// media.scss
.media, .media-gallery, .media-single {
	.hero{
		background-image:url('../img/hero_page04.jpg');
	}
	
	
	.first-single{
		width:100%;
		max-width:640px;
		margin:2em auto 4em auto;
		iframe{
			width:100% !important;
			height:250px;
			@include breakpoint(tablet){
				height:360px;
			}
		}
	}
	.single-box{
		width:100%;
		display:inline-block;
		text-align: center;
		vertical-align: top;
		@include breakpoint(tablet){
			width:32%;
			max-width:300px;	
			margin:1em 1%;
		}
		
		.thumbnail{
			max-width:100%;
			position:relative;
			display:block;
			text-decoration:none;
			&:hover{
				p strong{
					color:darken($mainColor, 10);
				}
				
			}
			img{
				width:200px;
				max-width:100%;
				
			}
			p{
				margin:0 auto 2em auto;
				@include breakpoint(tablet){

				}
			}
			
		}
		.description{
			text-align:left;
			p{
				font-size:0.8em;
				strong{
					text-transform: uppercase;
					color:$mainColor;
					font-weight:900;
				}
			}
		}
		
	}
}
.media{
	h2{
		@include breakpoint(tablet){
			margin-left:20%;
		}
	}
	h3{
		margin-top:5em;
	}
}
.media-gallery, .media-single{
	.container{
		text-align:center;
	}
	.footer{
		.container{
			text-align: left;
		}
	}
}