// member-only page styles

[class^='member-']{
	.hero{
		background-image:url('../img/hero_page05.jpg')
	}
	.container{
		//text-align: center;
	}
	.footer{
		.container{
			text-align:center;
			@include breakpoint(tablet){
				text-align:left;
			}
		}
	}
}
.subscribe{
	.container{
		text-align:center;
	}
}
.member-gallery{
	.container{
		text-align: left;
		h2{
			@include breakpoint(tablet){
				margin-left:20%;
			}
		}
		h3{
			margin-top:5em;
		}
	}
}
.member-asset{
	.container{
		.description{
			@include breakpoint(tablet){
				margin-left:20%;
			}
			img{
				max-width:100%;
			}
		}
	}
}
.member-form, .member-login, .member-register{
	.container{
		text-align:center;
	}
}