// proven success page styles

.proven-success{
	.hero{
		background-image:url('../img/hero_page01.jpg');
	}
	.container{
		h2{
			font-weight:900;

		}
		h3{
		}
		p{
			em{
				font-style:normal;
				font-weight:bold;
				color:$mainColor;
			}
		}
		img{
			max-width:100%;
		}
		
	}

}
	