// _helpers.scss

.left {
    float: left;
}
 
.right {
    float: right;
}
 
.clear {
    clear: both;
}
 
.hide {
    display: none;
}
 
.hidden {
    opacity: 0;
    visibility: hidden;
}
 
.clearfix {
 
    &:before,
    &:after {
        content: " ";
        display: table;
    }
 
    &:after {
        clear: both;
    }
}
 
.center-block {
    display: block;
    margin: 0 auto;
}
.fixed{
    position:fixed;
}
