// variables AND mixins 

$mainColor: rgb(3, 148, 130);
$secondColor: #939598;

// ********* BREAKPOINTS

 @mixin breakpoint($point) {
   @if $point == large {
     @media (min-width: 80em) { @content ; }
  }
   @else if $point ==  medium {
     @media (min-width: 65em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
  	@else if $point == small {
     @media (max-width: 37.5em)  { @content ; }

  }
}