/* _base.scss
Base styling
*/

*{
  box-sizing: border-box;
}
html{
	height:100%;
	width:100%;
}
body{
  font-size:1em;
  line-height: 1.5;
  margin:0;
  padding:0;
}

.container{
  //max-width: 1200px;
  height:100%;
}

hr{
	background:$mainColor;
	
}