// typography.scss

@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Roboto:300,400,700,900);

h1, h2, h3, h4{
	font-family: 'Muli', arial, sans-serif;

}
p, a, ul li, label{
	font-family: 'Roboto', arial, sans-serif;
}
h1{
	color:$secondColor;
	font-weight:300;
	text-transform:uppercase;
}
h2{
	color:$secondColor;
	font-size:1.4em;
	font-weight:bold;
	
	text-transform:uppercase;
}
h3{
	color:$mainColor;
	text-transform:uppercase;
	font-size:1.2em;
	font-weight:bold;
	svg{
		height: 0.9em;
	    width: 2em;
    	fill: #039482;
    	//vertical-align: middle;
	}
}
p{
	color:$secondColor;
	font-weight:300;
	
	strong{
		color:$mainColor;
		text-transform: uppercase;
		
	}
}
a{
	//text-transform:uppercase;
	color:$secondColor;
	&:hover{
		color:darken($secondColor, 6);
		text-decoration:none;
		svg{
			fill:darken($mainColor, 6);
		}
	}
}
ul{
	list-style-position: inside;
	padding:0;
	li{
		color:$secondColor;
		font-weight:300;
		
	}
}